<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Register</title>
    <link rel="styleheet" href="style.css">
</head>

<body>
    <div class="form-container">
        <form action="modbusMaster" method="get">
            <label for="registerAddress">Register Address:</label>
            <input type="text" id="registerAddress" name="registerAddress" required>
            <label for="registerType">Register Type:</label>
            <select id="registerType" name="registerType" required>
                <option value="int">int</option>
                <option value="float">float</option>
            </select>
            <button type="submit">Monitor</button>
        </form>
    </div>
</body>

</html>